{{#*inline "settingPartial"}}
<div class="form-group">
  <label>{{this.name}}</label>
  <div class="form-fields">
    {{#if this.isCheckbox}}
    <input type="checkbox" name="{{this.namespace}}.{{this.key}}" data-dtype="Boolean" {{checked this.value}} />

    {{else if this.isSelect}}
    <select name="{{ this.namespace }}.{{ this.key }}">
      {{ selectOptions this.choices selected=this.value }}
    </select>

    {{else if this.choices}}
    <select name="{{ this.namespace }}.{{ this.key }}">
      {{ selectOptions this.choices selected=this.value }}
    </select>

    {{else if this.isRange}}
    <input type="range" name="{{this.namespace}}.{{this.key}}" data-dtype="Number" value="{{ this.value }}" min="{{ this.range.min }}" max="{{ this.range.max }}" step="{{ this.range.step }}" />
    <span class="range-value">{{this.value}}</span>

    {{else if this.isFilePicker}}
    <input type="text" name="{{this.namespace}}.{{this.key}}" value="{{this.value}}" data-dtype="{{this.type}}" /><button type="button" class="filepicker">...</button>

    {{else}}
    <input type="text" name="{{this.namespace}}.{{this.key}}" value="{{this.value}}" data-dtype="{{this.type}}" />
    {{/if}}
  </div>

  <p class="notes">{{this.hint}}</p>
</div>
{{/inline}}

<form class="flexcol" autocomplete="off">
  <section id="config-tabs" class="content">
    <div class="settings-list">
      <h2 class="module-header">{{ localize data.system.title }}</h2>
      {{#each data.system.menus}} {{> menuPartial}} {{/each}} {{#each data.system.settings}} {{> settingPartial}} {{else}}
      <p class="notes">{{localize 'SETTINGS.None'}}</p>
      {{/each}}
    </div>
  </section>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit"><i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
    <button type="button" name="reset"><i class="fas fa-undo"></i> {{localize 'SETTINGS.Reset'}}</button>
  </footer>
</form>
