<div class="dialog-content skill-create-dialog">
  <input type="text" name="name" placeholder="Skill Name" />
  <select name="characteristic">
    {{#each content.options as |characteristics id|}}
    <option value="{{id}}">{{localize characteristics.label}}</option>
    {{/each}}
  </select>
</div>
<div class="dialog-buttons">
  {{#each buttons as |button id|}}
  <button class="dialog-button" data-button="{{id}}">
    {{{button.icon}}} {{{button.label}}}
  </button>
  {{/each}}
</div>
