<form class="{{cssClass}} item-sheet-species" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="container flex-group-center">
        <div class="container flex-group-center item-name">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
        <div class="container flex-group-center">
          <div class="grid grid-6col characteristics">
            {{#each this.characteristics as |characteristic id|}}
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input class="attribute-key" type="text" name="data.attributes.{{characteristic.id}}.key" value="{{characteristic.id}}" style="display: none;" />
                  <input type="text" name="data.attributes.{{characteristic.id}}.value" value="{{characteristic.value}}" data-dtype="Number" maxlength="1" type="text" pattern="[1-7]" />
                  <input type="text" name="data.attributes.{{characteristic.id}}.modtype" value="{{characteristic.modtype}}" style="display: none;" />
                  <input type="text" name="data.attributes.{{characteristic.id}}.mod" value="{{characteristic.mod}}" style="display: none;" />
                </div>
              </div>
              <div class="characteristic-label">
                {{characteristic.label}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="container flex-group-center">
          {{!-- Wounds Box --}} {{> "systems/starwarsffg/templates/parts/shared/ffg-block.hbs" (object blocktype="single" title="SWFFG.Wounds" type="Number" name="data.attributes.Wounds.value" value=data.attributes.Wounds.value)}}
          <input class="attribute-key" type="text" name="data.attributes.Wounds.key" value="Wounds" style="display: none;" />
          <input type="text" name="data.attributes.Wounds.modtype" value="Stat" style="display: none;" />
          <input type="text" name="data.attributes.Wounds.mod" value="Wounds" style="display: none;" />

          {{!-- Strain Box --}} {{> "systems/starwarsffg/templates/parts/shared/ffg-block.hbs" (object blocktype="single" title="SWFFG.Strain" type="Number" name="data.attributes.Strain.value" value=data.attributes.Strain.value)}}
          <input class="attribute-key" type="text" name="data.attributes.Strain.key" value="Strain" style="display: none;" />
          <input type="text" name="data.attributes.Strain.modtype" value="Stat" style="display: none;" />
          <input type="text" name="data.attributes.Strain.mod" value="Strain" style="display: none;" />

          {{!-- Starting XP Box --}}
          {{> "systems/starwarsffg/templates/parts/shared/ffg-block.hbs" (object blocktype="single" title="SWFFG.StartingXP" type="Number" name="data.startingXP" value=data.startingXP)}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}} {{> "systems/starwarsffg/templates/parts/shared/ffg-tabs.hbs" displayLimited=true limited=limited items=(array (object tab="description" label="SWFFG.TabDescription" icon="far fa-file-alt" cls=classType) (object tab="attributes" label="SWFFG.TabModifiers" icon="fas fa-cog" cls=classType) (object tab="talents" label="SWFFG.TabTalents" icon="fab fa-superpowers" cls=classType) (object tab="sources" label="SWFFG.TabSources" icon="fa-light fa-book-open-cover" cls=classType) )}} {{!-- Sheet Body --}}
  <section class="sheet-body small species">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor data.enrichedDescription target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-modifiers.hbs"}}
    </div>

    {{!-- Talents Tab --}}
    <div class="tab talents items" data-group="primary" data-tab="talents">
      <ul class="items-list">
        <li class="items-header flexrow">
          <div class="header-name">{{localize "SWFFG.Talents"}}</div>
        </li>
        <ul class="items-list">
          {{#each data.talents as |talent id|}}
            <li class="item specialization-talent-item flexrow" data-item-type="talent" data-item-id="{{id}}">
              <div class="item-name">
                {{talent.name}}
              </div>
              <div class="item-controls">
                <a class="item-control item-delete" data-item-type="talent" data-item-id="{{ id }}" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ul>
        <li class="items-header flexrow">
          <div class="header-name">{{localize "SWFFG.ItemsAbility"}}</div>
        </li>
        <ul class="items-list">
          {{#each data.abilities as |ability id|}}
            <li class="item specialization-talent-item flexrow" data-item-type="ability" data-item-id="{{id}}">
              <div class="item-name">
                {{ability.name}}
              </div>
              <div class="item-controls">
                <a class="item-control item-delete" data-item-type="ability" data-item-id="{{ id }}" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ul>
      </ul>
    </div>

    {{!-- Long Description and Sources Tab --}}
    <div class="tab sources" data-group="primary" data-tab="sources">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-sources.hbs" data=data}}
    </div>
  </section>
</form>
